@import 'normalize.css';
@import 'fonts.css';


/* Paul Irish's Universal border-box -- http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* BASE */
html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
 }
body {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    color: #101820;
    /* Improve default text rendering,  handling of kerning pairs and ligatures */
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* DEFAULT FONT SETTINGS */
/* 16px base font size with 150% (24px) friendly,  unitless line height and margin for vertical rhythm */
/* Font-size percentage is based on 16px browser default size */
body,  button,  input,  select,  textarea { 
    font: 100%/1.5 Georgia, "Times New Roman", serif;
    *font-size: 1em;
}
 /* IE7 and older can't resize px based text */
p,  blockquote,  q,  pre,  address,  hr,  code,  samp,  dl,  ol,  ul,  form,  table,  fieldset,  menu,  img {
    margin: 0 0 1.5em;
    padding: 0;
}

/* TYPOGRAPHY */
h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font: 400 34px/1.125 "Avenir Next", Arial, sans-serif;
}
h2 {
    margin: 0;
    margin-bottom: 0.5em;
    font: 400 26px/1.125 "Avenir Next", Arial, sans-serif;
}
h3 {
    margin: 0;
    margin-bottom: 0.5em;
    font: 400 22px/1.125 "Avenir Next", Arial, sans-serif;
} 
h4 {
    margin: 0;
    margin-bottom: 1em;
    font: 700 18px/1.125 "Avenir Next Demi", Arial, sans-serif;
}
h5 {
    margin: 0;
    margin-bottom: 1em;
    font: 600 16px/1.125 "Avenir Next Demi", Arial, sans-serif;
    text-transform: uppercase;
}
h6 {
    margin: 0;
    margin-bottom: 1em;
    font: 600 14px/1.125 "Avenir Next Demi", Arial, sans-serif;
    text-transform: uppercase;
}
p,  ul,  blockquote,  pre,  td,  th,  label {
    margin: 0;
    /* 16px / 24px */
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}
small,  p.small {
    margin: 0;
    margin-bottom: 1.7142857142857142857142857142857em;
    /* 14px / 24px */
    font-size: 0.875em;
    line-height: 1.7142857142857142857142857142857;
}

/* CODE */
pre {
    /* Allow line wrapping of 'pre' */
    background-color: #d7d2cb;
    border: 1px solid #d0d0ce;
    border-radius: 0.625em;
    color: #101820;
    margin-top: 1.25em;
    overflow-x: auto;
    padding: 0.625em 1.25em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre,  code,  kbd,  samp {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
    font-family: Source Code Pro, Consolas, Monaco, 'Andale Mono', monospace, serif;
}

/* TABLES */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
}
th {
    text-align: left;
}
tr,  th,  td {
    padding-right: 1.5em;
    border-bottom: 0 solid #333;
}

/* FORMS */
form {
    margin: 0;
}
fieldset {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
legend {
    *margin-left: -.75em;
}
button,  input,  select,  textarea {
    vertical-align: baseline;
    /* IE7 and older */
    *vertical-align: middle;
}
button,  input {
    line-height: normal;
    *overflow: visible;
}
button,  input[type="button"],  input[type="reset"],  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],  input[type="radio"] {
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,  input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* QUOTES */
blockquote,  q {
    quotes: none;
}
blockquote:before,  blockquote:after,  q:before,  q:after {
    content: '';
    content: none;
}
blockquote,  q,  cite {
    font-style: italic;
}
blockquote {
    border-left: 5px solid #babbbd;
    color: #796e65;
    padding-left: 1.5em;
}
blockquote > p {
    padding: 0;
}

/* LISTS */
ul,  ol {
    list-style-position: inside;
    padding: 0;
}
li ul,  li ol {
    margin: 0 1.5em;
}
dl dd {
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}

/* HYPERLINKS */
a {
    border-bottom: 1px dotted #0072CE;
    color: #0072CE;
    text-decoration: none;
}
main p a:visited {
    border-bottom: 1px solid #005E5D;
    color: #005E5D;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #7EB8DD;
    color: #7EB8DD;
    text-decoration: none;
}
a:focus {
    border-bottom: 1px solid #0072CE;
    outline: thin dotted;
    color: #0072CE;
    text-decoration: none;
}
a:active {
    border-bottom: 1px solid #002D72;
    color: #002D72;
    text-decoration: none;
}

a.call-to-action {
    font-family: "Avenir Next", Arial, sans-serif;
}

/* Entry title links */
/*h1 a, h1 a:hover, h1 a:focus, h1 a:active,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    border-bottom: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    border-bottom: none;
}*/

/* MEDIA */
figure {
    margin: 0;
}
img,  object,  embed,  video {
    /* Fluid images */
    max-width: 100%;
    _width: 100%;
}
img {
    border: 0;
    /* Improve IE's resizing of images */
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    /* Correct IE9 overflow */
    overflow: hidden;
}

/* ABBREVIATION */
abbr[title],  dfn[title] {
    border-bottom: 1px dotted #333;
     cursor: help;
}

/* MARKED/INSERTED/DELETED AND SELECTED TEXT */
ins,  mark {
    text-decoration: none;
}
mark {
    background: #c47529;
}
ins {
    background: #d49855;
}
del {
    text-decoration: line-through;
}

/* Selected text */
::-moz-selection {
    background: #0072ce;
    color: #fff;
    text-shadow: none;
}

 /* Selected text */
::selection {
    background: #0072ce;
     color: #fff;
     text-shadow: none;
}

/* OTHERS */
strong,  b,  dt {
     font-weight: bold;
}
dfn {
    font-style: italic;
}
var,  address {
    font-style: normal;
}
sub,  sup {
    font-size: 75%;
     line-height: 0;
     /* Position 'sub' and 'sup' without affecting line-height */
     position: relative;
     vertical-align: baseline;
}
sup {
    top: -0.5em;
}
 /* Move superscripted text up */
sub {
    /* Move subscripted text down */
    bottom: -0.25em;
}

/* MICRO CLEARFIX HACK */
.cf:before,  .cf:after {
    content: "";
    display: table;
}
 /* For modern browsers */
.cf:after {
    clear: both;
}
.cf {
    /* For IE 6/7 (trigger hasLayout) */
    zoom: 1;
}

/* ALIGNMENT */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}

/* BAIC NAV */
.nav {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
    .nav > li,
        .nav > li > a{
            display: inline-block;
           *display: inline;
            zoom: 1;
    }

/* Image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* DEFAULT MOBILE STYLE */

/* column grid */
.g1,.g2,.g3 { display: block; position: relative; margin-left: 1%; margin-right: 1%; }
/* 1 column grid */
.g1,.g2,.g3 { width: 98.0%; }

.wrap {
    width: 90%;
    margin: 0 auto;
}

.header {
    border-bottom: 5px solid #2CB34A;
    overflow: auto;
}
.header .logo {
    display: block;
    margin: 1em 0;
}
.header h1 {
    margin-top: 1em;
    font: bold 1em/1 "Avenir Next Demi", Arial, sans-serif;
    text-transform: uppercase;
}
.footer {
    padding: 2em 0;
    border-top: 2px solid #BABBBD;
    margin-top: 2em;
    background: #F1F2F2;
    font-family: "Avenir Next", Arial, sans-serif;
}
.footer .footer-oss {
    max-width: 30em;
}
.footer-links ul {
    list-style: none;
}
.footer h4 {
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}
.footer p {
    font-size: 0.875em;
    line-height: 1.42857142857143;
}

/*
.main-nav {
    font-family: "Avenir Next", Arial, sans-serif;
    font-size: 0.875em;
    margin: 0 0 1.5em;
    text-align: left;
}
        .main-nav a {
            color: #101820;
            font-weight: bold;
            padding: 0 0.625em;
            text-decoration: none;
            text-transform: uppercase;
        }
        .main-nav a:hover,
        .main-nav a:active,
        .main-nav a:focus {
            background-color: #2cb34a;
            color: #fff;
        }
*/
/*
.content {
    margin: 3em auto 1.5em;
    max-width: 48em;
    width: 100%;
}
*/
.hero {
    margin-bottom: 1.5em;
    background: #DBEDD4;
    font-family: "Avenir Next", Arial, sans-serif;
}
.hero section {
    padding: 1.5em 0;
}
.hero .featured {
    padding: 1.5em 5.555555555%;
    margin: 0 -5.555555555%;
    background: #FFF;
}
.hero p {
    font-size: 1.125em;
    line-height: 1.5;
}

.hero a {
    color: #002D72;
    border-bottom-color: #002D72;
}
.hero a:hover {
    color: #0072CE;
    border-bottom-color: #0072CE;
}

.content-header {
    padding-top: 3px;
    border-bottom: 2px solid #2CB34A;
    margin-bottom: 1.5em;
    background: #ADDC91;
}
.content-header h2 {
    font: bold 1em/2 "Avenir Next Demi", Arial, sans-serif;
    text-transform: uppercase;
}
.repos {
        margin-bottom: 2em;
}
.repo p {
    max-width: 30em;
    margin-bottom: 1.7142857142857142857142857142857em;
    font: 0.875em/1.7142857142857142857142857142857 "Avenir Next", Arial, sans-serif;
}

/*.entry {
    max-width: 30em;
}*/


/* media Queries

FOLDING FLUID GRID
< 767px         - 1-Column Fluid Grid
768px - 1023px  - 2-Column Fluid Grid
> 1024px        - 3-Column Fluid Grid
Change widths as necessary; Adjust content as necessary.
------------------------------------------- */

/* MOBILE PORTRAIT */
@media only screen and (min-width: 20em) {
    body {

    }
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 30em) {
    body {

    }
    .header .logo {
        margin: 1.25em 0;
        float: right;
    }
    .header h1 {
        margin-top: 2.25em;
        float: left;
    }
}

/* SMALL TABLET */
@media only screen and (min-width: 37.5em) {
    body {

    }
    .footer section {
        display: inline-block;
        margin-right: 2%;
        vertical-align: top;
    }
    .footer .footer-links {
        width: 25%;
    }
    .footer .footer-oss {
        width: 73%;
        margin-right: 0;
    }
    /*.footer .footer-about {
        width: 45%;
        margin-right: 0;
    }*/
}


/* TABLET/NETBOOK */
@media only screen and (min-width: 48em) { 
    body {

    }
    .main-nav {
        text-align: right;
    }
    .hero {
        margin-bottom: 0;
    }
    .content-header {
        margin-bottom: 3em;
    }
    .repos {
        margin: 0 -1em 2em;
    }
    .repo {
        display: inline-block;
        width: 50%;
        padding: 0 1em;
        margin: 0 -0.26em 0 0;
        vertical-align: top;
    }
    .entry {
        width: 66.666666666%;
    }
    .entry h1 {
        margin-bottom: 1em;
    }
    .entry p {
        line-height: 1.625;
    }
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 64em) { 
    body {

    }
    .wrap {
        max-width: 960px;
    }
    .hero {
        position: relative;
    }
    .hero:after {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: #FFF;
    }
    .hero section {
        display: inline-block;
        width: 42%;
        padding: 3em 0;
        margin-right: -0.26em;
        vertical-align: top;
    }
    .hero .featured {
        width: 50%;
        padding: 3em 1.5em;
        margin: 0 0 0 8%;
        position: relative;
        z-index: 2;
    }
}

@media only screen and (min-width: 80em) { 
/* DESKTOP */
    body {

    }
    .repo {
        width: 33.333333333%;
    }
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 87.5em) { 
    /*body { font-size: 1.125em; }*/
}
    
/* PRINT */
@media print {
  * {background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important} /* Black prints faster */
  a, a:visited {color: #444 !important; text-decoration: underline}
  a[href]:after {content: " (" attr(href) ")"}
  abbr[title]:after {content: " (" attr(title) ")"}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""}  /* Don't print links for images, javascript or internal links */
  pre, blockquote {border: 1px solid #999; page-break-inside: avoid; }
  thead {display: table-header-group; } /* Repeat header row at top of each printed page */
  tr, img {page-break-inside: avoid; }
  img {max-width: 100% !important; }
  @page {margin: 0.5cm}
  p, h2, h3 {orphans: 3; widows: 3}
  h2, h3{page-break-after: avoid}
}