        <div class="wrap">

            <section class="footer-links">
                <ul>
                    <li>
                        <a href="http://www.consumerfinance.gov/">consumerfinance.gov</a>
                    </li>
                    <li>
                        <a href="http://github.com/cfpb">github.com/cfpb</a>
                    </li>
                    <li>
                        <a href="http://www.consumerfinance.gov/jobs/">Work with us</a>
                    </li>
                    <li>
                        <a href="mailto:tech@consumerfinance.gov">Contact us</a>
                    </li>
                </ul>
            </section>

            <section class="footer-oss">
                <h4>Open Source</h4>
                <p>
                    As a work of the United States Government, our source code is in the public domain by default
                    within the United States.
                    <a href="http://www.consumerfinance.gov/developers/sourcecodepolicy/">
                        View our full source code policy.
                    </a>
                </p>
            </section>

        </div>
