        <div class="wrap">

            <section class="footer-links">
                <ul class="footer-links_primary cf">
                    <li>
                        <a href="http://www.consumerfinance.gov/">consumerfinance.gov</a>
                    </li>
                    <li>
                        <a href="http://github.com/cfpb">github.com/cfpb</a>
                    </li>
                </ul>
                <ul class="footer-links_secondary cf">
                    <li>
                        <a href="/cfpb-open-tech/">About</a>
                    </li>
                    <!-- <li>
                        <a href="http://cfpb.github.io/design-manual/">Design Manual</a>
                    </li> -->
                    <li>
                        <a href="mailto:tech@consumerfinance.gov">Contact us</a>
                    </li>
                    <li>
                        <a href="http://www.consumerfinance.gov/jobs/technology-innovation-fellows/">Work here</a>
                    </li>
                </ul>
                <ul class="footer-links_social cf">
                    <li>
                        <a class="icon-fallback-text" href="http://github.com/cfpb">
                            <i class="icon icon-github-alt" aria-hidden="true"></i>
                            <span class="text">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-fallback-text" href="http://twitter.com/CFPB">
                            <i class="icon icon-twitter-alt" aria-hidden="true"></i>
                            <span class="text">Twitter</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="icon-rss-alt">RSS Feed</i></a>
                    </li> -->
                </ul>
            </section>

            <section class="footer-oss">
                <h4>Open Source</h4>
                <p>
                    As a work of the United States Government, source code released by the CFPB is in the public
                    domain by default within the United States.
                </p>
                <a class="call-to-action__arrow"
                   href="/source-code-policy/">
                    View our full source code policy.
                </a>
            </section>

        </div>
