<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <title>CFPB Design &amp; Development{% if page.title %} &ndash; {{ page.title }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="Home of the Consumer Financial Protection Bureau&rsquo;s Design &amp; Development teams.">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <!--[if lt IE 9]><script src="{{ site.baseurl }}/js/html5shiv-printshiv.js" media="all"></script><![endif]-->
</head>

<body class="cf">

    <div class="skip cf">
        <a class="visuallyhidden focusable" href="#content">Skip to Main Content</a>
    </div>

    <header class="header cf" role="banner">
{% include header.html %}
    </header>

    <section id="content" class="content cf">
        <main role="main">
{{ content }}
        </main>
    </section>

    <footer class="footer cf" role="contentinfo">
{% include footer.html %}
    </footer>

    <!-- Don't need this yet -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
    <!-- <script src="{{ site.baseurl }}/js/site.js"></script> -->
</body>

</html>
