<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ site.title }}{% if page.title %} &ndash; {{ page.title }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//fast.fonts.net/cssapi/0a274127-32a9-474a-bbdb-f23f410e88c5.css">
    <link rel="stylesheet" href="{{ site.github.url }}/css/site.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} &raquo; Feed" href="{{ site.github.url }}/feed/">
    <link rel="canonical" href="{{ site.github.url }}{{ page.url }}" />

<!--[if lt IE 9]>
    <link rel="stylesheet" href="/css/ie8.css">
    <script src="{{ site.github.url }}/js/respond.min.js" media="all"></script>
<![endif]-->

    <script src="{{ site.github.url }}/js/modernizr-afontgarde.min.js" media="all"></script>
</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MVLMCF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MVLMCF');</script>
    <!-- End Google Tag Manager -->

    <div class="wrap skip cf">
        <a class="visuallyhidden focusable" href="#content">Skip to Main Content</a>
    </div>

    <header class="header cf" role="banner">
{% include header.html %}
    </header>

    <section id="content" class="content cf">
        <main role="main">
{{ content }}
        </main>
    </section>

    <footer class="footer cf" role="contentinfo">
{% include footer.html %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ site.github.url }}/js/afontgarde.js"></script>
    <script>
        AFontGarde( 'CFPB_Icons', '\uE600\uE601\uE602\uE605' );
        var consoleText = 'Hey! If you\'re viewing this, you should %capply() %cto our Technology and Innovation Fellowship. http://www.consumerfinance.gov/jobs/technology-innovation-fellows/';
        var consoleCSSBold = 'font-weight: bold';
        var consoleCSSNorm = 'font-weight: normal';

        function apply() {
          console.log('Here we go!');
          window.location.href = 'http://www.consumerfinance.gov/jobs/technology-innovation-fellows/';
        }

        if ( window.console && window.console.log ) {
          console.log(consoleText, consoleCSSBold, consoleCSSNorm);
        }
    </script>

    <script src="{{ site.github.url }}/js/site.js"></script>

</body>

</html>
