---
layout: default
---

<div class="content-body wrap">
    <article class="entry entry__single">
        <div class="entry__single_wrap">
            <h1 class="entry_title">{{ page.title }}</h1>

            {% if page.tagline %}
            <p class="entry_tagline">{{ page.tagline }}</p>
            {% endif %}

            <div class="entry_meta">
                {% if page.author %}
                By <span class="author">{{ page.author }}</span> &ndash;
                {% endif %}

                {% if page.date %}
                <time datetime="{{ page.date | date: '%b %d, %Y' }}">
                    {{ page.date | date: '%b %d, %Y' }}
                </time>
                {% endif %}
            </div>

            {{ content }}

        {% comment %}
            {% if page.tags %}
                <div class="tags cf">
                    <h4 class="tags_head">Tags:</h4>
                    <ul class="tag-list">
                        {% for tag in page.tags %}
                        <li class="tag">
                            <a class="tag_link">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endcomment %}
        </div>
    </article>

    <section class="sidebar more-articles sidebar__single">
        <div class="sidebar__single_wrap">
            <h2 class="sidebar_head">More articles</h2>

            <ul class="sidebar_list nav-list">
            {% for post in site.posts limit:5 %}
                <li class="sidebar_list_item">
                    <h3 class="sidebar_list_item_head">
                        <a href="../../{{ post.url | remove_first:'/'}}">
                            {{ post.title }}
                        </a>
                    </h3>

                    <div class="sidebar_list_item_meta entry_meta">
                        {% if post.author %}
                        By <span class="author">{{ post.author }}</span> &ndash;
                        {% endif %}

                        {% if post.date %}
                        <time datetime="{{ post.date | date: '%b %d, %Y' }}">
                            {{ post.date | date: '%b %d, %Y' }}
                        </time>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>

            <a class="call-to-action"
               href="../">
               View full archive
            </a>

            <form class="recruit-form recruit-form__sidebar">
                <h2 class="sidebar_head">Work with us</h2>
                <p>
                    Sign up to receive info on future job opportunities
                </p>
                <div class="recruit_chunk recruit_chunk__name">
                    <label class="recruit_fullname" for="recruit-name">
                        Full name
                    </label>
                    <input type="text" id="recruit-name" class="js-recruit-name" name="fullname">
                </div>
                <div class="recruit_chunk recruit_chunk__email">
                    <label class="recruit_email" for="email">
                        Email
                    </label>
                    <input type="email" id="email" class="js-recruit-email" name="email">
                </div>

                <div class="recruit_chunk recruit_chunk__discipline">
                    <label class="recruit_discipline" for="discipline">
                        Which of these best matches your skillset?
                    </label>
                    <select id="discipline" name="discipline" class="js-recruit-discipline">
                        <option value="">Choose one</option>
                        <option>Graphic Design</option>
                        <option>Interaction Design</option>
                        <option>User Experience</option>
                        <option>Content Strategy</option>
                        <option>Front-End Development</option>
                        <option>Back-End Development</option>
                        <option>Cyber-security</option>
                        <option>Data Analysis</option>
                        <option>Dev Ops</option>
                    </select>
                </div>

                <a class="btn btn-primary recruit_submit js-recruit-submit"
                   href="mailto:tech@cfpb.gov?subject=Interested in working in tech at CFPB&body=First name:%0D%0ALast name:%0D%0ADiscipline: %0D%0AResume:">
                   Email us
                </a>

                <p class="u-disclaimer">
                    <small><a href="../../privacy-act-statement/">View Privacy Act statement</a></small>
                </p>
            </form>
        </div>
    </section>
</div>
